ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding: 15px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

li:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.odd {
  background-color: #ecf0f1;
}

.over {
  background-color: #bdc3c7;
  border: #ff525b dashed 2px;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
}

mat-card > .over {
  background-color: #ffccbc;
}

.input-container {
  background-color: white;
  border-radius: 4px;
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 5px;
  min-height: auto;
  padding-bottom: 5px;
}
