ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding: 15px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

li:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.odd {
  background-color: #ECF0F1;
}

.over {
  background-color: #BDC3C7;
  border: #ff525b dashed 2px;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
}

::ng-deep .mat-card-header {
  padding: 15px;
}

mat-card > .over {
  background-color: #FFCCBC;
}
